html
  head
    title 30
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" type="text/css" href="libs.css")
    link(rel="stylesheet" type="text/css" href="app.css")

    link(rel="apple-touch-icon" sizes="57x57" href="files/images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="files/images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="files/images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="files/images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="files/images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="files/images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="files/images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="files/images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="files/images/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="files/images/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="files/images/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="files/images/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="files/images/favicon/favicon-16x16.png")
    link(rel="manifest" href="files/images/favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="files/images/favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

    //- JQuery
    script(
      src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
      integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
      crossorigin="anonymous")
    //- Carousel
    link(
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
    script(
      type="text/javascript"
      src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
  body
    .container
      include header/tpl.pug
      .divider
      include clock/tpl.pug
      .divider
      include electionCampaign/tpl.pug
      .divider
      include alienHead/tpl.pug
    script(
      type="text/javascript"
      src="app.js")
