//- Image list
mixin watch-face
  picture.img
    source(srcset="files/images/clock/mobile/ui_01.jpg" media="(max-width: 1024px)")
    img(
      src="files/images/clock/mobile/ui_01.jpg"
      srcset="files/images/clock/mobile/ui_01@2x.jpg 2x")
  picture.img
    img(
      src="files/images/clock/mobile/ui_02.jpg"
      srcset="files/images/clock/mobile/ui_02@2x.jpg 2x")
  picture.img
    img(
      src="files/images/clock/mobile/ui_03.jpg"
      srcset="files/images/clock/mobile/ui_03@2x.jpg 2x")
  picture.img
    img(
      src="files/images/clock/mobile/ui_04.jpg"
      srcset="files/images/clock/mobile/ui_04@2x.jpg 2x")
  picture.img
    img(
      src="files/images/clock/mobile/ui_05.jpg"
      srcset="files/images/clock/mobile/ui_05@2x.jpg 2x")
  picture.img
    img(
      src="files/images/clock/mobile/ui_06.jpg"
      srcset="files/images/clock/mobile/ui_06@2x.jpg 2x")

//- Image list
mixin screen-shots
  .img
    picture
      source(
        srcset="files/images/clock/mobile/Mobile-home-one.jpg 1x, files/images/clock/mobile/Mobile-home-one@2x.jpg 2x"
        media="(max-width: 1024px)")
      img(
        src="files/images/clock/mobile/Mobile-home-one.jpg"
        srcset="files/images/clock/mobile/Mobile-home-one@2x.jpg 2x")
    .label Home screen
  .img
    picture
      source(
        srcset="files/images/clock/mobile/Mobile-home-one.jpg 1x, files/images/clock/mobile/Mobile-home-one@2x.jpg 2x"
        media="(max-width: 1024px)")
      img(
        src="files/images/clock/mobile/Mobile-home-one.jpg"
        srcset="files/images/clock/mobile/Mobile-home-one@2x.jpg 2x")
    .label Home screen
  .img
    picture
      source(
        srcset="files/images/clock/mobile/Mobile-home-one.jpg 1x, files/images/clock/mobile/Mobile-home-one@2x.jpg 2x"
        media="(max-width: 1024px)")
      img(
        src="files/images/clock/mobile/Mobile-home-one.jpg"
        srcset="files/images/clock/mobile/Mobile-home-one@2x.jpg 2x")
    .label Home screen

section.project.clock
  .clear-fix
    .title.size-2-col-6 Braun Model F concept
    .description.size-2-col-6 The new line of desktop clocks Braun is based on the simplicity and elegance of the brand. The model is designed considering the style of Braun and comfortable proportions.
  .clear-fix
    .size-2-col-6
      .previews
        .size-1-col-6
          picture.img
            source(
              src="files/images/clock/Mobile/device_03.jpg"
              srcset="files/images/clock/Mobile/device_03@2x.jpg 2x"
              media="(min-width: 1920px)")
            source(
              src="files/images/clock/Mobile/device_03.jpg"
              srcset="files/images/clock/Mobile/device_03@2x.jpg 2x"
              media="(min-width: 1440px)")
            source(
              src="files/images/clock/Mobile/device_03.jpg"
              srcset="files/images/clock/Mobile/device_03@2x.jpg 2x"
              media="(min-width: 1280px)")
            source(
              src="files/images/clock/Mobile/device_03.jpg"
              srcset="files/images/clock/Mobile/device_03@2x.jpg 2x"
              media="(min-width: 1024px)")
            source(
              src="files/images/clock/Mobile/device_03.jpg"
              srcset="files/images/clock/Mobile/device_03@2x.jpg 2x"
              media="(min-width: 768px)")
            img(
              src="files/images/clock/Mobile/device_03.jpg"
              srcset="files/images/clock/Mobile/device_03@2x.jpg 2x")
          .label Side view
        .size-1-col-6
          img(
            src="files/images/clock/Mobile/device_02.jpg"
            srcset="files/images/clock/Mobile/device_02@2x.jpg 2x")
          .label Three fourth view
      .description The body can be made of metal, wood, ceramics and more. So the clock is easy to match any interior.
    .size-2-col-6
      .previews.front
        img(
          src="files/images/clock/Mobile/device_01.jpg"
          srcset="files/images/clock/Mobile/device_01@2x.jpg 2x")
        .label.clear-fix Clock front view
      .description Classic design is at the heart of its interface. To enhance contrast and improve the visual elements hierarchy its proportions has been slightly modified and dark tape was added to marking. Such interface easily displays your data on the timeline.

  .watch-face.carousel-container
    .carousel(id="clock-carousel")
      +watch-face

  .watch-face.list
    +watch-face

  .description-2.clear-fix
    .size-2-col-6
      .part Any user only needs to enter the access code which is on the product box. Application will automatically select the primary time zone from your phone and show the available information for additional time zones, calendars, alarm clocks that you can also display.
    .size-2-col-6
      .part Device setting and synchronization occurs by phone application.

  .carousel-container.screen-shots
    .carousel(id="screen-shots-carousel")
      +screen-shots

  .description-2
    .size-2-col-6
      .part The clock can work simultaneously with multiple users. All necessary information will be displayed in the application.
    .size-2-col-6
      .part Colours of the marks are set automatically from a wide range of colours given the level of contrast between them.