.election-campaign
  div Election campaign
  .image.image-1.center
    picture
      //- source(
      //-   srcset="files/images/election-campaign/Mobile/picture_01.jpg 1x, files/images/election-campaign/Mobile/picture_01@2x.jpg 2x"
      //-   media="(min-width: 768px)")
      img(
        src="files/images/election-campaign/Mobile/picture_01.jpg"
        srcset="files/images/election-campaign/Mobile/picture_01@2x.jpg 2x")
    .label.default Poster

  .image.center
    picture
      //- source(
      //-   srcset="files/images/election-campaign/Mobile/picture_02.jpg 1x, files/images/election-campaign/Mobile/picture_02@2x.jpg 2x"
      //-   media="(min-width: 768px)")
      img(
        src="files/images/election-campaign/Mobile/picture_02.jpg"
        srcset="files/images/election-campaign/Mobile/picture_02@2x.jpg 2x")
    .label.default.center Social media cover

  .text It was pleasure to work with Vadym on his canvass company. In result we got cool political poster and broshure.

  .image.image-3.center
    picture
      //- source(
      //-   srcset="files/images/election-campaign/Mobile/picture_03.jpg 1x, files/images/election-campaign/Mobile/picture_03@2x.jpg 2x"
      //-   media="(min-width: 768px)")
      img(
        src="files/images/election-campaign/Mobile/picture_03.jpg"
        srcset="files/images/election-campaign/Mobile/picture_03@2x.jpg 2x")
    .label.default.center Inside part of the broshure

  .image.center
    picture
      //- source(
      //-   srcset="files/images/election-campaign/Mobile/picture_04.jpg 1x, files/images/election-campaign/Mobile/picture_04@2x.jpg 2x"
      //-   media="(min-width: 768px)")
      img(
        src="files/images/election-campaign/Mobile/picture_04.jpg"
        srcset="files/images/election-campaign/Mobile/picture_04@2x.jpg 2x")
    .label.default.center Outside part of the broshure